@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,300&family=Karla:wght@300&family=Libre+Baskerville:ital@1&family=Nunito+Sans:ital,wght@1,200&family=Oxygen&family=Red+Hat+Display:wght@500&family=Roboto&display=swap');
*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #6499E9; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background-image: url("images/backfround2.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Red Hat Display', sans-serif;

}
 .container{
    width: 400px;
    height: auto;
    background: linear-gradient(125deg, #dddf00,#3a86ff);
    border-radius: 20px;
 }

 #useLocationBtn{
      margin-left: 20px;
      cursor: pointer;
      font-size: 25px;
      background-color:white;
      width: 35px;
      height: 35px;
      padding: 5px 0px 0px 8px;
      border-radius: 5px;
 }
#searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   flex-wrap: wrap;
    
   
}
#searchBar input{
    font-size: 15px;
    border-radius: 50px;
   text-align: center;
   height: 50px;
   border: none;
   width: 250px;
   outline: none;
}
#btn-1{
    margin-left: -40px;   
    padding:9px 9px;
    cursor: pointer;
    color: black;
  
}
#btn{
    margin-top: 30px;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    background-color: rgb(43, 157, 233);
    padding:9px 9px;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: inset;
}
#btn:hover{
    background-color: #007200;
    color: black;
    
}
#unitSelect{
    margin-top: 30px;
    border-radius: 10px;
    height: 40px;
    width: 125px;
    background-color: #14213d;
    padding:9px 9px;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: inset;
    outline: none;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    flex-wrap: wrap;
    
}
.image p{
    font-weight: 500;
    font-size: 30px;
}
.image img{
    width: 120px;
    height: 120px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    margin-bottom: 30px;
}
#temperature{
    color: white;
    padding-bottom: 20px;
}
#city{
    color: white;
    
}
.otherDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.column-1{
    display: flex;
    align-items: center;
    gap: 15px;
}

.column-1 p{
    font-weight: 700;
}

@media screen and (min-width: 300px) {
    .container {
        max-width: 90%;
    }
    
}