<%- include("header"); -%>

    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos et iure obcaecati earum, aspernatur, laudantium
        maiores cumque magnam minima voluptas nulla, quod corrupti placeat expedita dolores quam numquam ipsam ab.</h1>
    <%- include("footer"); -%>