:root{
  --primary_color:#ffc100;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(209, 247, 229); */
/* background-color: #ffff66; */
background: url("./public/yellow_esport_background_03.jpg")  no-repeat fixed center  ;
background-size: cover; 
/* opacity:0.9; */
font-family: "Courier New", Courier, monospace;
}

.container {
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: var(--primary_color);

  padding: 30px;
  border-radius: 10px;
  width: 90%;
  margin: 10px;
  text-align: center;
  max-width: 450px;
  font-size: 18px;
  font-weight: 500;
}
.heading {
  font-size: 30px;
  /* color:var(--primary_color) */
  font-family: "Architects Daughter", cursive;

}

.input {
  height: 53px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.4);
  padding: 0 42px;
  font-size: 16px;
  border-radius: 5px;
  font-size: large;
}

.meaning-container {
  display: none;
}

.extra{
  font-size: large;
  font-weight: 700;
  font-family: sans-serif;
}