@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@300&family=Roboto:wght@700&display=swap");
:root {
  --primary_color: #a5f1e9;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: #48dbfb; */
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

.container {
  /* background-color: var(--primary_color);
   */
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
  /* text-shadow: 0px 2px 3px rgba(0, 0, 0, 1); */

  backdrop-filter: blur(1px);
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  margin: 10px;
  text-align: center;
  max-width: 450px;
  font-size: 18px;
  font-weight: 500;
}

.heading {
  font-size: 30px;
}

.search-bar {
  width: 92%;
}

.input {
  height: 53px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 0 20px;
  font-size: 16px;
  border-radius: 15px;
  font-size: large;
}

.info-text {
  margin-top: 10px;
}

.meaning-container {
  font-family: "poppins";
  display: none;
}

.extra {
  font-size: large;
  font-weight: 700;
  font-family: sans-serif;
}

::placeholder {
  font-family: "Courier New", Courier, monospace;
}
footer {
  color: #ffffff;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  background:transparent;
}

/* Media Queries for responsiveness */

@media screen and (max-width: 768px) {
  .container {
    font-size: 16px;
  }

  .input {
    padding: 0 10px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    font-size: 14px;
  }

  .heading {
    font-size: 24px;
  }

  .input {
    padding: 0 5px;
  }
}
