body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 247, 229);
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 10px;
  text-align: center;
  max-width: 450px;
  font-size: 18px;
  font-weight: 500;
}
.heading {
  font-size: 28px;
}

.input {
  height: 53px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.4);
  padding: 0 42px;
  font-size: 16px;
  border-radius: 5px;
}

.meaning-container {
  display: none;
}
