:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgba(100,108,255,0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar{
  width: 1em;
}
::-webkit-scrollbar-track{
  background: rgba(100,108,255,0.2);
  border-radius: 100vw;
  margin-block: 0.5em;
  margin-left: 10em;
}
::-webkit-scrollbar-thumb{
  background: rgba(105,118,255,0.1);
  border: .25em;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
  background: rgba(100,120,255,0.2);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;  
  min-width: 100vh;
  min-height: 100vh;  
  
}


.bg-white {
background-color: #1F2937;
}

.text-gray-700 {
color: #D1D5DB;
}

.border-gray-400 {
border-color: #9CA3AF;
}

.focus\:ring-blue-500:focus {
box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

h1 {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

h1 > .magic {
  display: inline-block;
  position: relative;
}

h1 > .magic > .magic-cloud {
  --size: clamp(20px, 1.5vw, 30px);
  
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--cloud-left);
  position: absolute;
  top: var(--cloud-top);
  width: var(--size);
}

h1 > .magic > .magic-cloud > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h1 > .magic > .magic-cloud > svg > path {
  fill: var(--violet);
}

h1 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple),
    var(--pink),
    var(--violet)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;  
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.icon {
  height: 1.8em;   
  will-change: filter;
  transition: filter 300ms;
  display: inline-block;
}
.icon:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.icon.vanilla:hover {
  filter: drop-shadow(0 0 2em #7c1ef7aa);
}

.card {
  padding: 2em;
}


body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position:inherit;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(100,108,255,0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#bubble-wrapper {
  height: 100%;
  width: 100%;
  
  position: absolute;
  bottom: 0px;
  
  overflow: hidden;
  pointer-events: none;
}

.bubble {
  height: max(300px, 30vw);
  width: max(300px, 30vw);
  
  background-color: rgba(100,108,255,0.2); 
  border-radius: 100%;
  
  position:fixed;
  left: 200%;
  top: 100%;
  
  animation: wave 4s ease-in-out;
}

@media(prefers-reduced-motion) {
  .bubble {
    animation: none;
    display: none;
  }
}
@keyframes wave {
  from, to {
    transform: translate(-40%, 0%);
  }
  
  50% {
    transform: translate(-40%, -10%);
  }
}